.c-modal
    .c-modal__overlay(data-c-modal-element="close")
    .c-modal__content(data-c-modal-element="content")
        if close != false
            .c-modal__close.icon.icon-close(data-c-modal-element="close")