# local env files
.env
*env/
.env.local
.env.*.local
.env.build

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.pyc

# Other
.DS_Store
node_modules
/dist
*db.sqlite3

dumps/
letsencrypt/
static/
web/static/
web/app/assets/dist
web/app/webpack-stats*.json
web/app/static/
web/media/

