@color-gray-lightest: #FFFFFF;
@color-gray-lighter: #F2F2F2;
@color-gray-light: #E7E7E7;
@color-gray-main: #C8C8C8;
@color-gray-dark: #989898;
@color-gray-darkest: #1F1F1F;

@color-primary-main: #DB563F;
