@container-width: 1920px;
@container-padding: 24px;
@container-padding-half: @container-padding / 2;

.container() {
    max-width: @container-width;
    margin: 0 auto;
    width: 100%;
}

.container-paddings() {
    padding-left: @container-padding;
    padding-right: @container-padding;
    @media @media-md-down {
        padding-left: @container-padding-half;
        padding-right: @container-padding-half;
    }
}