{% extends "layouts/base/layout_base.html" %}
{% load cms_tags %}

{% block title %}
    New Holland Radio
{% endblock %}

{% block content %}
    <div class="s-index">
        <div class="s-index__ticker" data-c-ticker data-c-ticker-speed="100" data-c-ticker-text="Радио Новой Голландии    New Holland Island Radio Station">
            <div class="s-index__ticker-wrapper">
                <div class="s-index__ticker-content" data-c-ticker-element='content'>
                    <div class="s-index__ticker-content-item">
                    </div>
                </div>
                <div class="s-index__ticker-content" data-c-ticker-element='contentClone'>
                    <div class="s-index__ticker-content-item">
                    </div>
                </div>
            </div>
        </div>
        <div class="s-index__bg">
            <video class="s-index__bg-video" playsinline autoplay muted loop>
                <source src="https://s3.eu-north-1.amazonaws.com/nh-radio-static-assets/video/main-radio.mp4" type="video/mp4">
                Your browser don't support video
            </video>
        </div>
    </div>
    {% comment %} {% placeholder "content" %} {% endcomment %}
{% endblock %}

{% block footer %}
    {% with variant="index" %}
        {% include "common/footer/footer.html" %}
    {% endwith %}
{% endblock %}