{% load cms_tags menu_tags sekizai_tags translation %}
{% load render_bundle from webpack_loader %}
{% page_attribute "page_title" as title %}
{% page_attribute "meta_description" as description %}
<!doctype html>
<html>
    <head>
        {% if title|length > 0 %}
            <title>{{title}} | New Holland</title>
        {% else %}
            <title>{% block title %}{% endblock title %}</title>
        {% endif %}

        
        <link rel="icon" type="image/png" href="https://nh-radio-static-assets.s3.eu-north-1.amazonaws.com/images/favicon.png">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta name="description" content="{{description}}">
        <meta property="og:site_name" content="New Holland" />
        <meta property="og:type" content="website" />
        {% block og %}
          <meta property="og:title" content="{{title}}" />
          <meta property="og:url" content="{{ request.build_absolute_uri }}" />
          {% if request.current_page.imageextension %}
            <meta property="og:image" content="{{ request.current_page.imageextension.image.url }}" />
          {% endif %}
        {% endblock og %}

        {% render_block "css" %}
        {% render_bundle 'main' 'css' %}
    </head>
    <body class="l-global" data-l-global data-c-navigation>
        {% cms_toolbar %}
        <div class="l-global__content" data-c-navigation-element="current">
            <div class="l-global__header">
                {% block header %}
                    {% include "common/header/header.html" %}
                {% endblock header %}
            </div>
            <div class="l-global__main">
                {% block content %}
                    {% placeholder "content" %}
                {% endblock content %}
            </div>
            <div class="l-global__footer">
                {% block footer %}
                    {% include "common/footer/footer.html" %}
                {% endblock footer %}
            </div>
        </div>
        <div class="l-global__next" data-c-navigation-element="next">
            <div class="l-global__next-loader">
                <div class="l-global__next-loader-ui">
                    <div class="ui-loader"></div>
                </div>
            </div>
            <div class="l-global__next-content" data-c-navigation-element="nextContent">
            </div>
        </div>
        <div class="l-global__player">
            {% include "common/player/player.html" %}
        </div>
        <div class="l-global__notification"
            data-l-global-element="notification"
            >
            <div class="l-global__notification-wrapper">
                <div class="l-global__notification-text">
                    {% trans 'Продолжая пользоваться сайтом, Вы соглашаетесь на обработку личных данных' %}
                </div>
                <div class="l-global__notification-button">
                    <div class="l-global__notification-button-text" data-l-global-element="notificationClose">
                        {% trans 'Закрыть' %}
                    </div>
                </div>
            </div>
        </div>
        {% csrf_token %}

        {% block special_js %}
            {% placeholder "special_js" %}
        {% endblock special_js %}

        {% render_block "js" %}
        {% render_bundle 'main' 'js' %}
    </body>
</html>