{% load cms_tags menu_tags sekizai_tags %}
{% load render_bundle from webpack_loader %}
{% page_attribute "page_title" as title %}

<!doctype html>
<html>
    <head>
        {% block title %}
            <title>django_boilerplate</title>
        {% endblock title %}

        {% block favicon %}
            <link href="https://nh-radio-static-assets.s3.eu-north-1.amazonaws.com/images/favicon.png"
                rel="icon"
                type="image/png"
            >
        {% endblock favicon %}

        {% block meta %}
            {% include "./partials/meta.html" %}
        {% endblock meta %}

        {% block preloaded_styles %}
            {% include "./partials/head_styles.html" %}
        {% endblock preloaded_styles %}

        {% block analytics_head %}
            {% include "./partials/analytics_head.html" %}
        {% endblock analytics_head %}

        {% block seo_head %}
        {% endblock seo_head %}

        {% render_block "css" %}
        {% render_bundle 'chunk-vendors' 'css' %}
        {% render_bundle 'app' 'css' %}
    </head>
    <body>
        {% cms_toolbar %}

        {% block analytics_body %}
            {% include "./partials/analytics_body.html" %}
        {% endblock analytics_body %}

        {% block seo_body %}
        {% endblock seo_body %}

        <section class="content-placeholder"
            id="content-placeholder"
            >
            <div class="content-placeholder__loader">
            </div>
        </section>

        <div class="app-wrapper"
            id="app"
            is-admin="{% if request.user.is_superuser %}true{% else %}false{% endif %}"
            >
            <app-root inline-template>
                <layout-default inline-template>
                    <div class="layout-default">
                        <section class="layout-default__header">
                            {% block header %}
                                {% include "../../common/header/header.html" %}
                            {% endblock header %}
                        </section>
                        <section class="layout-default__main">
                            {% static_placeholder 'head' %}
                            {% block content %}
                                {% placeholder "content" %}
                            {% endblock content %}
                            {% block other %}{% endblock other %}
                        </section>
                        <section class="layout-default__footer">
                            {% block footer %}
                                {% include "../../common/footer/footer.html" %}
                            {% endblock footer %}
                        </section>
                        <modal-root>
                        </modal-root>
                    </div>
                </layout-default>
            </app-root>
        </div>

        {% csrf_token %}
        {% render_block "js" %}
        {% render_bundle 'chunk-vendors' 'js' %}
        {% render_bundle 'app' 'js' %}
    </body>
</html>