{% load cms_tags menu_tags sekizai_tags %}
{% load render_bundle from webpack_loader %}
{% page_attribute "page_title" as title %}

<!doctype html>
<html>
    <head>
        {% block title %}
            {% if title and title|length > 0 %}
                <title>{{ title }} | Project Title</title>
            {% else %}
                <title>Project Title</title>
            {% endif %}
        {% endblock title %}

        {% block favicon %}
            <link rel="icon" type="image/png" href="https://nh-radio-static-assets.s3.eu-north-1.amazonaws.com/images/favicon.png">
        {% endblock favicon %}

        {% block meta %}
            {% include "./partials/meta.html" %}
        {% endblock meta %}

        {% block preloaded_styles %}
            {% include "./partials/head_styles.html" %}
        {% endblock preloaded_styles %}

        {% block analytics_head %}
            {% include "./partials/analytics_head.html" %}
        {% endblock analytics_head %}

        {% render_block "css" %}
        {% render_bundle 'main' 'css' %}
    </head>
    <body>
        {% cms_toolbar %}

        {% block analytics_body %}
            {% include "./partials/analytics_body.html" %}
        {% endblock analytics_body %}

        <section class="content-placeholder">
            <div class="content-placeholder__loader">
            </div>
        </section>
        <section data-app class="wrapper"
            v-cloak
            >
            <layout-global inline-template>
                <section class="layout-global">
                    <section class="layout-global__header">
                        {% block header %}
                            {% include "./partials/header/header.html" %}
                        {% endblock header %}
                    </section>
                    <main class="layout-global__main">
                        {% block content %}
                            {% placeholder "content" %}
                        {% endblock content %}
                        <div>
                            Icons test: <span class="icon icon-close"></span>
                        </div>
                    </main>
                </section>
            </layout-global>
        </section>
        {% csrf_token %}

        {% block special_js %}
            {% placeholder "special_js" %}
        {% endblock special_js %}

        {% render_block "js" %}
        {% render_bundle 'main' 'js' %}
    </body>
</html>