{% extends "layouts/base/layout_base.html" %}

{% load cms_tags %}

{% page_attribute "page_title" as title %}

{% block content %}
    <div class="l-with-ticker">
        <div class="l-with-ticker__ticker" data-c-ticker data-c-ticker-mode="scroll" data-c-ticker-text="{% if title|length > 0 %}{{title}}{% else %}{% block tickertext %}{% endblock %}{% endif %}">
            <div class="l-with-ticker__ticker-wrapper">
                <div class="l-with-ticker__ticker-content" data-c-ticker-element='content'>
                    <div class="l-with-ticker__ticker-content-item">
                    </div>
                </div>
                <div class="l-with-ticker__ticker-content" data-c-ticker-element='contentClone'>
                    <div class="l-with-ticker__ticker-content-item">
                    </div>
                </div>
            </div>
        </div>
        <div class="l-with-ticker__content">
            {% block subcontent %}
                {% placeholder "content" %}
            {% endblock %}
        </div>
    </div>
{% endblock content %}