<meta name="viewport" content="width=device-width,initial-scale=1">
<meta name="description" content="{{description}}">
<meta property="og:site_name" content="New Holland" />
<meta property="og:type" content="website" />
{% block og %}
    <meta property="og:title" content="{{title}}" />
    <meta property="og:url" content="{{ request.build_absolute_uri }}" />
    {% if request.current_page.imageextension %}
    <meta property="og:image" content="{{ request.current_page.imageextension.image.url }}" />
    {% endif %}
{% endblock og %}